/* .align-table-title{
    transform: translateX(%)10
} */

/* body{
    display: flex;
    flex: content;
} */

body {
    transform: scale(0.7, 1);
    transform-origin: 0 0;
   
 }

 .App{
     text-align: center;
 }
 .data{
     text-align: left;
 }

 .data{
     border-bottom: 1px solid #000;
 }